version: '3'
# Define services
services:
  # Database Service (Mysql)
  db:
    container_name: db
    #latest mysql will not work, use only version 5.5
    image: mysql:5.5
    environment:
     MYSQL_ROOT_PASSWORD: root
     MYSQL_DATABASE: bookmap
     MYSQL_USER: site_user
     MYSQL_PASSWORD: site_password
    ports:
     - 3306:3306
    volumes:
    - "./db:/docker-entrypoint-initdb.d"

 # Database Management Service (phpMyAdmin)   
  phpmyadmin:
    depends_on:
     - db
    image: phpmyadmin/phpmyadmin
    ports:
     - '8888:80'
    environment:
     PMA_HOST: db
     MYSQL_ROOT_PASSWORD: root

  web:
    build: ./web/

    ports:
      - "4848:4848"
      - "8880:8080"
      - "8181:8181"
    depends_on:
     - db
     - phpmyadmin

    links:
      - db
      - phpmyadmin
    
    environment:
     MYSQL_ROOT_PASSWORD: root
